@import './base.css';

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes move-up {
  from {
    transform: translateY(30px);
  }

  to {
    transform: translateY(0);
  }
}

#app {
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
}

main {
  width: 100%;
  padding: 1rem 2rem 1rem 0.5rem;
}

h1 {
  font-weight: 500;
  font-size: clamp(2rem, 4vw, 2.6rem);
  position: relative;
}

h3 {
  font-size: 1.2rem;
}

a,
.name {
  transition: 0.6s;
  border: 1px solid transparent;
  border-radius: 2rem;
  text-decoration: none;
  padding: 0.4rem 1rem;
  background-image: var(--main-gradient);
  background-size: var(--main-gradient-size);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: var(--main-background-animation);
  text-align: center;
}

.card-outer-box {
  padding: 1px;
  margin-bottom: 10px;
  border-radius: 0.6rem;
  animation: var(--main-background-animation);
  background: var(--main-gradient);
  background-size: var(--main-gradient-size);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.card-inner-box {
  background: var(--color-background);
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
  position: relative;
}

@media (hover: hover) {
  a:hover {
    border: 1px solid var(--color-pill);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    position: relative;
  }

  main {
    padding: 1rem 3rem;
  }

}